body {
    margin: 40px;
}

h1 {
    font-family: 'Gruppo', cursive;
    font-size: 65;
    text-shadow:
     0 0 10px #FFFFFF,
     0 0 20px #FFFFFF,
     0 0 30px #FFFFFF,
     0 0 40px rgb(55,255,55),
     0 0 70px rgb(55,255,55),
     0 0 80px rgb(55,255,55),
     0 0 100px rgb(55,255,55)
}

h2 {
    font-family: 'Englebert', sans-serif;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    color: white;
    background-image: url(img/start.jpeg);
    background-position: bottom;
}

.botton {
    cursor: pointer;
    font-family: 'Gruppo', cursive;
    font-size: 25;
    background-color: grey;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50%; 
}

.botton:hover {
    background-color: rgb(150,150,150);
    transform: rotate(20deg);
    transition: all 1s ease-out;
}

.d-none {
  display: none;
}

.header {
  display: flex;
  height: 60px;
  width: 100%;
  background-color:  rgb(150,150,150);
  margin-bottom: 100px;
}

.mt-2 {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-secondary {
  margin-left: 10px;
}

.answer-row {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.answer-row button {
  width: 300px;
  height: 70px;
  display: flex;
  margin-top: 20px;
  opacity: 0.9;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.progress {
  height: 20px;
  width: 50%;
  overflow: unset;
  margin-bottom: 20px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Englebert', sans-serif;
  font-size: 30;
  background-color: rgb(230,230,230);
  border-radius: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  box-shadow: 10px 5px 5px black;
}

.quiz-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  width: 100%;
  height: 100%;
  background-image: url(img/freedomsommer.jpg);
  background-position: center;
  background-size: cover;
}

.pic {
  display: flex;
}

.quiz-finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(img/end.jpg);
  background-position: center;
  background-size: cover;
}

.fireworks {
  display: flex;
  width: 50%;
  height: auto;
  margin-top: 30px;
}

/* for a nicer view*/
@media (max-width: 880px) {
  .answer-row button {
    width: 200px;
  }

  h2 {
    font-size: 20;
  }
}

@media (max-width: 769px) {
  h1 {
    font-size: 45;
  }

  .question {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25;
    text-align: center;
  }
}

@media (max-width: 744px) {
  .fireworks {
    margin-top: 80px;
  }
}

@media (max-width: 590px) {
  body {
    margin: 20px;
  }
}

@media (max-width: 533px) {
  h2 {
    font-size: 18;
  }

  .answer-row {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1 {
    font-size: 35;
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  .answer-row button {
    width: 150px;
  }

  .question {
    font-size: 20;
  }

  h2 {
    text-align: center;
  }

  .answer-row button {
    font-size: 14;
  }
}

@media (max-width: 412px) {
  h2 {
    margin-left: 10px;
  }
}

@media (max-width: 361px) {
  h2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1 {
    font-size: 30;
    padding-top: 10px;
    padding-left: 10px;
  }

  body {
    margin: 5px;
  }

  .answer-row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .header {
    margin-bottom: 50px;
  }
}

@media (max-width: 376px) {
  body {
    margin: 0;
  }

  h2 {
    margin-left: 0px;
  }
}

@media (max-width: 321px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 28;
  }

  .answer-row button {
    width: 120px;
    font-size: 12;
  }

  .header {
    margin-bottom: 10px;
  }
}

@media (max-width: 281px) {
  h1 {
    font-size: 25;
  }
}
